.possibilities {
    width: 100%;
    display: flex;
    background-image: url(../images/my_photo1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(100%);

    &__photo {
        width: 585px;
        filter: grayscale(1);
        display: block;
    }

    &__wrapper {
        background-color: $bg-dark;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 1;
        padding: 120px 116px;
        gap: 20px;
    }

    &__item {
        max-width: 465px;
        padding: 50px;

        background-image: url(../images/bg/bg-development.png);


        &-sticker {
            @extend %font-base;
            @include font($size: 2.4rem, $height: 2.9rem, $weight: 600);
            color: $color-orange;
            padding-bottom: 12px;

        }

        &-title {
            color: $color-white;
            padding-bottom: 30px;
        }

        &-title-xm {
            color: $color-white;
            line-height: 2.4rem;
            padding-bottom: 10px;
        }

        &-title-small {
            color: $color-white;
            padding-bottom: 20px;
        }

        &-text {
            color: $grey-light;
            line-height: 2.7rem;
        }

        &-svg {
            width: 70px;
            height: 70px;
            margin-bottom: 43px;
        }
    }

    .first__card {
        padding: 0;
        background-color: $bg-dark;
        background-image: url(now);
    }
}

.numders {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: $bg-blue-middle;

        >:nth-child(even) {
            background-color: $bg-dark-blue;
        }
    }

    &__items {
        width: 300px;
        height: 300px;
        padding-top: 94px;
    }

    &__items:first-child,
    &__items:last-child {
        color: $color-blue;
    }

    &__items:nth-child(2) {
        color: $color-orange;
    }

    &__items:nth-child(3) {
        color: $color-green;
    }

    &__items-text {
        color: $color-white;
    }
}

.skills {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 120px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item-text {
        width: 474px;
        color: $grey-light;
    }

    &__language {
        padding-top: 56px;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
        }
    }

}

.experience__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 418px;
    color: $color-white;

    &__box {
        padding: 0 0 30px 40px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            border-radius: 50%;
            border: 2px $grey-light solid;
            width: 20px;
            height: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10px;
            display: inline-block;
            width: 2px;
            height: 160px;
            background-color: $grey-dark;
        }
    }


    &-work {
        padding-bottom: 15px;
    }

    &-description {
        color: $grey-light;
    }
}

.skills__item {}

.skills__item-title {}

.skills__language {}

.title {}

.progressbar {}

.line {}

.left {}

.right {}

.text {}

.persent {}

.portfolio {

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        padding: 0 120px;
    }

    &__top {
        padding: 0 120px;
        display: flex;
        justify-content: space-between;
    }

    &__top-text {
        color: $grey-light;
    }

    &__top-arrows {}

    .arrow__left {
        width: 80px;
        height: 15px;
        padding: 0;
    }

    .arrow__right {
        width: 80px;
        height: 15px;
        padding: 0;
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {}

    &__img {}
}

.about {

    &__wrapper {
        padding: 120px;
    }

    &-bg {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-image: url(../images/bg/bg-development.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 86px 80px 70px;
    }

    &__text {
        @extend %font-base;
        color: $color-orange;
    }

    &__title {}

    &__text-primary {
        color: $color-white;
        font-size: 22px;
        font-weight: 600;
        line-height: 3.3rem;
        padding-top: 10px;
    }

    &__text-description {
        color: $grey-light;
    }

    &__signature {
        padding-top: 30px;
    }
}