$grey-light: #9BA3AE;
$grey-middle: #8C9399;
$grey-dark: #546371;
// black
$black-light: #151E29;
$black-middle-light: #1F2934;
$black-middle: #18222E;
$black-middle-xl: #101923;
$black-dark: #0E151D;
// other colors
$white: #FFFFFF;
$orange: #546371;
$green: #2BD195;
$blue: #3BC6CF;

// Dark theme
$color-bg-base: $black-dark;
$color-bg-light: $black-light;

$color-text-dark: $white;
$color-title-on-light: $black-light;
$color-text-on-light: $grey-dark;
$color-text-footer: $grey-middle;

$color-accent1: $orange;
$color-accent2: $green;
$color-accent3: $blue;