// bg-colors
$bg-dark: #0E151D;
$bg-blue-dark: #151E29;


// color text
$grey-light: #8C9399;
$grey-dark: #546371;


//
$grey-light: #9BA3AE;
$grey-middle: #8C9399;


// other colors
$color-orange: #EF8B53;
$color-white: #FFFFFF;
$color-green: #2BD195;
$color-blue: #3BC6CF;
$color-black: #000000;


// 
$margin-menu: 130px;