<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/my_js.js" defer></script>

    <title>Anzhalika Turlak</title>
</head>

<body>
    <header class="header container-fluid">
        <div class="header__wrapper">
            <div class="header__photo">
                <h1 class="header__photo-title">Web Developer</h1>
            </div>
            <div class="header__info">
                <div class="header__info-hello">Hello! Commodo excepteur aliqua.</div>
                <h2 class="header__info-title">I’m Anzhalika Turlak</h2>
                <div class="header__info-text">Fugiat consectetur dolor velit sit sit do est irure labore eiusmod.
                    Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. Veniam aliqua
                    reprehenderit ipsum eu dolore in anim enim id labore</div>
                <div class="header__content">
                    <div class="header__content-item">
                        <div class="header__content-text">Role</div>
                        <h5 class="header__content-title">Web Developer</h5>
                    </div>
                    <div class="header__content-item">
                        <div class="header__content-text">Experience</div>
                        <h5 class="header__content-title">0+ years</h5>
                    </div>
                    <div class="header__content-item">
                        <div class="header__content-text">Country</div>
                        <h5 class="header__content-title">Georgia, Batumi</h5>
                    </div>
                </div>
                <div class="header__button">
                    <button class="header__button-btn">Download CV</button>
                    <a class="header__button-link" href="#">contact me now</a>
                </div>
            </div>
        </div>
        <nav class="menu">
            <a class="menu-link" href="#">
                <svg class="menu-svg">
                    <use href="../../static/icons/sprite.svg#menu"></use>
                </svg>
            </a>
            <div class="menu__social">
                <a class="menu__social-link" href="#">
                    <div class="menu__social-text">ln</div>
                </a>
                <a class="menu__social-link" href="#">
                    <div class="menu__social-text">git</div>
                </a>
                <a class="menu__social-link" href="#">
                    <div class="menu__social-text">tl</div>
                </a>
                <a class="menu__social-link" href="#">
                    <div class="menu__social-text">tel</div>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="possibilities container-fluid">
            <div class="container possibilities__wrapper">
                <div class="possibilities__item first__card">
                    <div class="possibilities__item-sticker">What I can offer</div>
                    <h3 class="possibilities__item-title">My services</h3>
                    <h5 class="possibilities__item-title-small">Fugiat consectetur dolor velit sit sit do est irure
                        labore eiusmod.
                        Laboris in enim ex ex sunt est.</h5>
                    <p class="possibilities__item-text">Laboris in enim ex ex sunt est. Minim labore quis non enim anim
                        tempor enim. Veniam aliqua reprehenderit ipsum eu.</p>

                </div>
                <div class="possibilities__item">
                    <svg class="possibilities__item-svg">
                        <use href="../../static/icons/sprite.svg#web"></use>
                    </svg>
                    <h4 class="possibilities__item-title-xm">Web development</h4>
                    <p class="possibilities__item-text">Fugiat consectetur dolor velit sit sit do est irure labore
                        eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. Veniam
                        aliqua reprehenderit ipsum eu.</p>
                </div>
                <div class="possibilities__item">
                    <svg class="possibilities__item-svg">
                        <use href="../../static/icons/sprite.svg#app"></use>
                    </svg>
                    <h4 class="possibilities__item-title-xm">App development</h4>
                    <p class="possibilities__item-text">Fugiat consectetur dolor velit sit sit do est irure labore
                        eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. Veniam
                        aliqua reprehenderit ipsum eu.</p>
                </div>
                <div class="possibilities__item">
                    <svg class="possibilities__item-svg">
                        <use href="../../static/icons/sprite.svg#desctop"></use>
                    </svg>
                    <h4 class="possibilities__item-title-xm">Desktop Development</h4>
                    <p class="possibilities__item-text">Fugiat consectetur dolor velit sit sit do est irure labore
                        eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. Veniam
                        aliqua reprehenderit ipsum eu.</p>
                </div>

            </div>
        </section>
        <section class="numders">
            <div class="container numders__wrapper">
                <div class="numders__items">
                    <h2 class="numders__items-numder">25+</h2>
                    <div class="numders__items-text">Awards Winning</div>
                </div>
                <div class="numders__items">
                    <h2 class="numders__items-numder">342</h2>
                    <div class="numders__items-text">Successful Projects</div>

                </div>
                <div class="numders__items">
                    <h2 class="numders__items-numder">2.3k</h2>
                    <div class="numders__items-text">Customers Reviews</div>

                </div>
                <div class="numders__items">
                    <h2 class="numders__items-numder">117+</h2>
                    <div class="numders__items-text">Setisfied Clients</div>

                </div>
            </div>
        </section>
        <section class="skills">
            <div class="container skills__wrapper">
                <div class="skills__item">
                    <h3 class="skills__item-title">Skills</h3>
                    <div class="skills__item-text">Fugiat consectetur dolor velit sit sit do est irure labore eiusmod.
                        Laboris in tempor eniqua reprehenderit ipsum eu.</div>
                    <div class="skills__item__box">
                        <div class="progress__skills-label">JavaScript</div>
                        <span class="progress__skills-value">97%</span>
                        <div class="progress__skills-container">
                            <span class="progress__skills-bar" style="width: 97%;"></span>
                        </div>
                    </div>
                    <div class="skills__item__box">
                        <div class="progress__skills-label">React Native</div>
                        <span class="progress__skills-value">89%</span>
                        <div class="progress__skills-container">
                            <span class="progress__skills-bar" style="width: 89%;"></span>
                        </div>
                    </div>
                    <div class="skills__item__box">
                        <div class="progress__skills-label">PHP</div>
                        <span class="progress__skills-value">72%</span>
                        <div class="progress__skills-container">
                            <span class="progress__skills-bar" style="width: 72%;"></span>
                        </div>
                    </div>
                    <div class="skills__item__box">
                        <div class="progress__skills-label">Git/GitHub</div>
                        <span class="progress__skills-value">65%</span>
                        <div class="progress__skills-container">
                            <span class="progress__skills-bar" style="width: 65%;"></span>
                        </div>
                    </div>

                    <div class="skills__language">
                        <h3 class="skills__item-title">Language</h3>
                        <div class="skills__language-wrapper">
                            <div class="progressbar">
                                <div class="line left"></div>
                                <div class="line right"></div>
                                <div class="text">
                                    <div class="persent">10</div>
                                </div>
                            </div>

                            <div class="progressbar">
                                <div class="line left"></div>
                                <div class="line right"></div>
                                <div class="text">
                                    <div class="persent">10</div>
                                </div>
                            </div>

                            <div class="progressbar">
                                <div class="line left"></div>
                                <div class="line right"></div>
                                <div class="text">
                                    <div class="persent">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="experience__item">
                    <h3 class="experience__item-title">Experience</h3>
                    <div class="experience__item__box">
                        <h4 class="experience__item-age">2011 - 2013</h4>
                        <h5 class="experience__item-work">Junior Web development</h5>
                        <div class="experience__item-description">Fugiat consectetur dolor velit sit sit do est irure
                            labore
                            eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. </div>
                    </div>
                    <div class="experience__item__box">
                        <h4 class="experience__item-age">2013 - 2017</h4>
                        <h5 class="experience__item-work">Middle Web development</h5>
                        <div class="experience__item-description">Fugiat consectetur dolor velit sit sit do est irure
                            labore
                            eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. </div>
                    </div>
                    <div class="experience__item__box">
                        <h4 class="experience__item-age">2017 - 2021</h4>
                        <h5 class="experience__item-work">Senior Web development, Team Lead</h5>
                        <div class="experience__item-description">Fugiat consectetur dolor velit sit sit do est irure
                            labore
                            eiusmod. Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. </div>
                    </div>
                </div>




            </div>
        </section>

        <section class="portfolio">
            <div class="container portfolio__wrapper">
                <h3 class="portfolio__title">My portfolio</h3>
                <div class="portfolio__top">
                    <div class="portfolio__top-text">Laboris in tempor enim. Veniam aliqua reprehenderit ipsum eu.
                    </div>
                    <div class="portfolio__top-arrows">
                        <button class="arrow__left"></button>
                        <button class="arrow__right"></button>
                    </div>
                </div>
                <div class="portfolio__projects">
                    <a class="portfolio__link" href="#">
                        <img class="portfolio__img" src="../../static/images/projects/img1.jpg" alt="project">
                    </a>
                    <a class="portfolio__link" href="#">
                        <img class="portfolio__img" src="../../static/images/projects/img2.jpg" alt="project">
                    </a>
                    <a class="portfolio__link" href="#">
                        <img class="portfolio__img" src="../../static/images/projects/img3.jpg" alt="project">
                    </a>
                    <a class="portfolio__link" href="#">
                        <img class="portfolio__img" src="../../static/images/projects/img4.jpg" alt="project">
                    </a>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="container about__wrapper">
                <div class="about-bg">
                    <h4 class="about__text">About me</h4>
                    <h3 class="about__title">Cover letter</h3>
                    <div class="about__text-primary">Fugiat consectetur dolor velit sit sit do est irure labore eiusmod.
                        Laboris in
                        enim ex ex sunt est. Minim labore quis non enim anim tempor enim.</div>
                    <div class="about__text-description">Nisi eu ut officia velit officia magna nostrud exercitation
                        sint
                        adipisicing
                        aliqua laborum. Aliquip do do veniam enim velit Lorem nisi magna. Eiusmod in fugiat exercitation
                        duis non ipsum id quis aliqua id mollit. Incididunt eiusmod tempor officia nostrud veniam.
                        Mollit
                        nostrud ullamco consequat ex nostrud.</div>
                    <div class="about__text-description">Officia et ea anim ullamco anim aliqua occaecat aliquip. Tempor
                        est
                        deserunt
                        dolor dolor do anim fugiat. Sunt quis quis consectetur dolor magna magna cillum qui
                        reprehenderit.
                        Deserunt qui qui dolor voluptate. Nostrud cillum non fugiat dolore sit duis velit labore ipsum
                        commodo occaecat commodo officia irure.</div>
                    <div class="about__signature">
                        <img class="about__signature-img" src="../../static/images/signature.png" alt="signature">
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="container hire__wrapper">
                <h4 class="about__text">About me</h4>
                <h3 class="about__title">Cover letter</h3>
                <div class="about__text-primary">Fugiat consectetur dolor velit sit sit do est irure labore eiusmod.
                    Laboris in
                    enim ex ex sunt est. Minim labore quis non enim anim tempor enim.</div>
                <div class="about__text-description">Nisi eu ut officia velit officia magna nostrud exercitation
                    sint
                    adipisicing
                    aliqua laborum. Aliquip do do veniam enim velit Lorem nisi magna. Eiusmod in fugiat exercitation
                    duis non ipsum id quis aliqua id mollit. Incididunt eiusmod tempor officia nostrud veniam.
                    Mollit
                    nostrud ullamco consequat ex nostrud.</div>
                <div class="about__text-description">Officia et ea anim ullamco anim aliqua occaecat aliquip. Tempor
                    est
                    deserunt
                    dolor dolor do anim fugiat. Sunt quis quis consectetur dolor magna magna cillum qui
                    reprehenderit.
                    Deserunt qui qui dolor voluptate. Nostrud cillum non fugiat dolore sit duis velit labore ipsum
                    commodo occaecat commodo officia irure.</div>
                <div class="about__signature">
                    <img class="about__signature-img" src="../../static/images/signature.png" alt="signature">
                </div>
            </div>
        </section>



    </main>
    <footer></footer>
</body>

</html>