<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Anzhalika Turlak</title>
</head>

<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu-link" href="#">
                <svg class="header__menu-svg">
                    <use href="/static/icons/sprite.svg#menu">
                </svg>
            </a>
            <form>
                <input type="text">
                <input type="text">
            </form>
        </nav>
    </header>
    <!-- <main>
        <section class="about">
            <div class="header__wrapper">
                <div class="about__block">
                    <img class="about__block-photo" src="../../static/images/im.jpg" alt="My photo">
                    <h1 class="about__block-title">Web Developer</h1>
                </div>
                <div class="about__block">
                    <div class="about__block-items">Hello! Commodo excepteur aliqua.</div>
                    <h2 class="about__block-items">I’m Christopher Collinson</h2>
                    <div class="about__block-items">Fugiat consectetur dolor velit sit sit do est irure labore eiusmod.
                        Laboris in enim ex ex sunt est. Minim labore quis non enim anim tempor enim. Veniam aliqua
                        reprehenderit ipsum eu dolore in anim enim id labore.</div>

                    <div class="about__block-items">
                        <div class="about__block-about"><span class="about__block-title">Role</span>
                            <span class="about__block-text">Web Developer</span>
                        </div>
                        <div class="about__block-about"><span class="about__block-title">Experience</span>
                            <span class="about__block-text">8+ years</span>
                        </div>
                        <div class="about__block-about"><span class="about__block-title">Country</span>
                            <span class="about__block-text">Canada, Toronto</span>
                        </div>
                    </div>
                    <div class="about__block-items">
                        <button class="about__block-btn">Download CV</button>
                        <div class="about__block-send">contact me now</div>
                    </div>
                </div>
        </section>
    </main> -->
    <footer></footer>

</body>

</html>